@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;

:root {
  /* @apply text-xs; */
}
#main {
  width: 100% !important;
  height: 100% !important;
}
#echart {
  width: 100% !important;
  height: 100% !important;
}
.Line {
  @apply w-overSpread h-0.25 bg-gray-border;
}
.Linecol {
  @apply h-overSpread w-0.25 bg-gray-border;
}
.miniGrayFront {
  @apply text-sm text-gray-grayWhite;
}

.toplinkName{
  @apply text-gray-white mr-9.5 cursor-pointer
}

#triangle {
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid green;
  margin: auto 0;
}

#root {
  /*height: 100%;*/
  background-color: #F5F5F5;
}

html {
  --antd-wave-shadow-color: #bfbfbf !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

body {
  background-color: #F5F5F5;
}

.Container{
  /*background: #FFFFFF;*/
  /*box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);*/
  /*border-radius: 10px;*/
  /*border: 1px solid #E9E9E9;*/
  padding:1.25rem 6rem 4rem 6rem;

}

@media screen and (max-width: 900px) {
   .Container{
     /*background: #FFFFFF;*/
     /*box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);*/
     /*border-radius: 10px;*/
     /*border: 1px solid #E9E9E9;*/
     padding:1.25rem 1rem 4rem 1rem;
   }
}

#homePageBtn {
  width: 5.5rem;
  height: 2rem;
  background: #080810;
  border-radius: 1rem;
  cursor: pointer;
}
#homePageBtn > span {
  color: white;
  font-weight: 400;
  line-height: 2rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.latestDiv {
  width: 3.5rem;
  height: 3rem;
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #efefef;
}

.latestDiv > span {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  line-height: 3rem;
}

.ui--switchTabs-lg .ant-tabs-ink-bar {
  background:  #080810;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: transparent;
}

.ui--switchTabs-lg .ant-tabs-nav {
  padding: 0 20px;
}
.ui--switchTabs-lg .ant-tabs-tab {
  font-size: 14px;
  color: #bfbfbf;
}
.ant-tabs-tab:hover {
  color: #bfbfbf;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #080810;
  font-size: 14px;
}

.ant-input:focus {
  box-shadow: none;
}
.ant-input-affix-wrapper {
  border-radius: 8px 0px 0px 8px !important;
  border: none !important;
}
.ant-input-suffix {
  cursor: pointer;
}

.ant-btn {
  color: #fff;
  line-height: 0;
  width: 48px;
  background: #2c83eaff;
  border-color: #2c83eaff;
  text-shadow: 0 0 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  /*border-radius: 4px !important;*/
}

.ant-input {
  border: 0;
}

.NavSearch {
  width: 430px;
  margin: auto 0;
}


.NavSearch .ant-input {
  background: rgba(0, 0, 0, 0);
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
  border: 0px solid rgba(105, 168, 237, 0.21);
  color: #bfbfbf;
}

.NavSearch .ant-input-search .ant-input:focus,
.ant-input-search .ant-input:hover {
  border-color: transparent;
}
.NavSearch .ant-input-group {
  background-color: rgba(255, 255, 255, 0);
}
.NavSearch .ant-btn-primary {
  background: transparent;
  border: none;
}
.NavSearch .ant-btn-primary:focus {
  background: transparent;
  border: none;
}
.NavSearch .ant-btn-primary:hover {
  background: transparent;
  border: none;
}
.NavSearch .ant-btn .ant-btn-primary .ant-input-search-button {
  background: rgba(10, 0, 0, 0);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
  border: 0px solid rgba(105, 168, 237, 0.21);
  color: transparent;
}
.ant-input-group-addon {
  background: transparent;
}
.NavSearch .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
  border-radius: 0px 8px 8px 0px;
  height:2rem;
}
.NavSearch .ant-input-group .ant-input{
  border-radius: 8px;
  background: transparent;
  height: 2rem;
  border:none;
}
.NavSearch .ant-input-group {
  background-color: #111519;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(105, 168, 237, 0.21);
  border-radius: 8px !important;
}
.ant-input-group .ant-input{
  border-radius: 8px;
  background: transparent;
  height: 2.5rem;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
  border-radius: 0px 8px 8px 0px;
  height:2.5rem;
}
.ant-input-group {
  background-color: white;
  border-radius: 11px !important;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  left: 0;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  /* color: #fff; */
  border-color: #2c83eaff;
  background: #2c83eaff;
}

.ant-table.ant-table-bordered > .ant-table-container{
  border-left: 0px solid #f0f0f0 !important;
  border-right: 0px solid #f0f0f0 !important;
}
.ant-table-tbody > tr > td{
  border-right: 0px solid white !important;
}
.ant-table-thead > tr > th{
  border-right: 0px solid white !important;
}
.ant-pagination-item:focus-visible, .ant-pagination-item:hover{
  background: #2C83EA;
  border-radius: 2px;
}

.ant-pagination-item-active{
  background: #2C83EA;
  border-radius: 2px;
}
.ant-pagination-item-active a {
  color: white !important;
}
.ant-select-single .ant-select-selector .ant-select-selection-item{
  color: rgba(0, 0, 0, 0.65);
}
.ant-pagination-item a{
  color: rgba(0, 0, 0, 0.65);
}
.ant-pagination-item a:hover{
  color:white;
}
.ant-popover-content{
  /*border: 1px solid #080810;*/
  border-radius:4px ;
}
.ant-popover-arrow-content {
  border: 1px solid #080810;
  margin-top: 1px;
}
.ant-popover-inner-content {
  padding: 5px 8px;
  background: #FAFAFA;
  color: #422D01;
  border-radius: 4px;
  border: 1px solid #080810;
}

.ant-table-pagination.ant-pagination {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

.ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
  margin-top: 0px !important;
}

.ant-skeleton-content .ant-skeleton-title {
  margin-top: 0px !important;
}

@tailwind utilities;
